{% extends 'django_registration/base.html' %}
{% load static %}

{% block body%}
  <main class="form-registration">
      <form class="form-registration" role="form" method="post" action=".">
           {% csrf_token %}
        <img class="mb-4" src="{% static 'images/favicon.svg' %}" alt="" width="128" height="128">
          <h1 class="h3 mb-3 fw-normal">Enter new password!</h1>
        <label for="inputNew_password1" class="visually-hidden">Password1</label>
        <input type="password" name="new_password1"
               id="id_new_password1" class="form-control" placeholder="Password" required autofocus>
        <label for="inputNew_password2" class="visually-hidden">Password2</label>
        <input type="password" name="new_password2"
               id="id_new_password2" class="form-control" placeholder="Confirm password" required autofocus>
         <button class="w-100 btn btn-lg btn-success" type="submit">Change password</button>
      </form>
  </main>
{% endblock %}