{% extends 'django_registration/base.html' %}
{% load static %}

{% block body%}
<main class="form-registration">
      <form class="form-registration" role="form" method="post" action=".">
           {% csrf_token %}
        <img class="mb-4" src="{% static 'images/favicon.svg' %}" alt="" width="128" height="128">
          <h1 class="h3 mb-3 fw-normal">Password reset</h1>
          <div class="alert alert-primary" role="alert">Forgotten your password? Enter your email address below,
              and we’ll email instructions for setting a new one.</div>
        <label for="inputEmail" class="visually-hidden">Email</label>
        <input type="email" name="email" id="id_to_email" class="form-control" placeholder="email@examlpe.com">
        <button  class="w-100 btn btn-lg btn-outline-primary" type="submit">Send request</button>
      </form>
  </main>

{% endblock %}