{% extends 'django_registration/base.html' %}
{% load static %}

{% block title%} Password reset {% endblock%}

{% block body%}
<main class="form-registration">
    <form class="form-registration" role="form" method="post" action=".">
        {% csrf_token %}
        <img class="mb-4" src="{% static 'images/favicon.svg' %}" alt="" width="250" height="250">
        <div class="alert alert-primary" role="alert">
            Password reset sent!<br/>
            <strong>Please, check your email.</strong> </div>
    </form>
</main>
{% endblock %}