<!doctype html>
{% extends 'sloth/base.html' %}
{% load static %}
{% load tz %}


{% block body %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">Create report</h1>
</div>

<!-- Setting report -->
<div class="row">
  <div class="col-sm-6 p-0">
    <div class="card">
      <div class="container mt-3">
        <div class="d-flex pt-1 pb-2 mb-3 border-bottom">
          <h3> Setting</h3>
        </div>
        <form  enctype="multipart/form-data" class="form-registration" role="form" method="post"
               action="{% url 'index' %}">
          {% csrf_token %}
          <label class="form-label"><strong>Report's type</strong></label>
          <div class="input-group mb-3">
            {{r_form.item}}
          </div>
          <label class="form-label"><strong> Raw data</strong></label>
          <div class="input-group mb-3">
            {{p_form.primarily_file}}
          </div>
          <div class="form-check form-switch">
            {{r_form.open_last_report}}
            <label class="form-check-label"><strong> Use last report</strong></label>
          </div>
          <label class="form-label"><strong>Last report</strong></label>
          <div class="input-group mb-3">
            {{r_form.last}}
          </div>
          <label class="form-label"><strong>Last year report</strong> </label>
          <div class="input-group mb-3">
            {{r_form.last_year}}
          </div>
          <label class="form-label">The reporting month</label>
          <div class="input-group mb-3">
            {{r_form.month}}
          </div>
          <label class="form-label">The reporting year</label>
          <div class="input-group mb-3">
            {{r_form.year}}
          </div>
          <button class="w-100 btn btn-lg btn-success mb-3" type="submit"> >>First step >></button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}